<FlexboxLayout flexDirection="column" height="300">
    <StackLayout margin="30" height="60%">
        <FlexboxLayout class="header">
            <label text="X" (tap)="exit()"></label>
        </FlexboxLayout>
        <label class="email" text="{{ 'labels.email' | L }}"></label>
        <TextField [(ngModel)]="content" keyboardType="email" autocapitalizationType="none" class="input"
            autocorrect="false" returnKeyType="done" (returnPress)="navigateToResetPassword()"></TextField>
    </StackLayout>
    <FlexboxLayout class="confirm" (tap)="navigateToResetPassword()">
        <label text="{{ 'labels.OK' | L }}"></label>
    </FlexboxLayout>
</FlexboxLayout>