@import '../../app-common';

.title{
    text-align: center;
    font-size: $titleFontSize;
}

.text{
    margin: 10;
    font-size: $regularFontSize;
    color: black;
}

.svgImage{
    fill-colors: yellow;
    stroke-colors: yellow;
    stroke-width: 5;
}