<GridLayout columns="3*,*">
    <StackLayout *ngIf="loading" colSpan="2" class="gif" horizontalAlignment="center" verticalAlignment="center">
        <Gif:Gif src="~/assets/droplet_gif.gif" />
        <label class="waitingLabel" text="{{ 'messages.info.waitingForData' | L }}" ></label>
    </StackLayout>

    <maps:mapView col="0" colSpan="2" [zoom]="defaultZoom" (mapReady)="onMapReady(map)"
        (markerSelect)="clickOnMarker($event.marker)" [latitude]="31.7962994" [longitude]="35.2453993" #map>
    </maps:mapView>
    <FlexboxLayout col="1" justifyContent="space-between" class="locationBtnFlex">
        <label text="&#xf0c9;" class="fas burgerMenu" (tap)="toggleDrawer()"></label>
        <button text="&#xf041;" class="fas locationBtn" (tap)="setMyPosition()"></button>
    </FlexboxLayout>
</GridLayout>