@import '../../../../app';

.title{
    text-align: center;
    font-size: $titleFontSize;
    justify-content: space-between;
    margin-right: 10;
    margin-left: 10;
}

.answer{
    margin: 10;
    font-size: $subtitleFontSize;
    font-family: $regularBoldFont;
}

.questionImage{
    height: 100%;
    width: 100%;
    z-index: 2;
    stretch: fill;
}

.lowerLine{
    height: 10%;
    font-size: $titleFontSize;
    background-color: $themeColor;
    align-items: center;
    color: white;
    justify-content: space-around;
    padding: 0 10;
  }