<FlexboxLayout class="page">
    <StackLayout class="form">
        <Label class="header" text="{{'app.name' | L}}"></Label>
        <ActivityIndicator *ngIf="waitingForResponse" [busy]="waitingForResponse"></ActivityIndicator>

        <label *ngIf="beforeCode" textWrap="true" class="info-label"
            text="{{'login.requireEmail' | L}}"></label>
        <StackLayout class="input-field">
            <TextField class="input" hint="{{ 'labels.email' | L }}" keyboardType="email" autocorrect="false" autocapitalizationType="none"
                [(ngModel)]="user.email" returnKeyType="done" [disabled]="!beforeCode || waitingForResponse">
            </TextField>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>


        <StackLayout *ngIf="!beforeCode" class="input-field">
            <TextField class="input" hint="{{ 'login.code' | L }}" [(ngModel)]="code" returnKeyType="next"
                (returnPress)="focusPassword()" [disabled]="waitingForResponse"></TextField>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>

        <StackLayout *ngIf="!beforeCode" class="input-field">
            <TextField #password class="input" hint="{{ 'login.password' | L }}" secure="true" [(ngModel)]="user.password"
                [returnKeyType]="isLoggingIn ? 'done' : 'next'" (returnPress)="focusConfirmPassword()" [disabled]="waitingForResponse"></TextField>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>

        <StackLayout *ngIf="!beforeCode" class="input-field">
            <TextField #confirmPassword class="input" hint="{{ 'login.confirmPassword' | L }}" secure="true" 
            returnKeyType="done" [disabled]="waitingForResponse"></TextField>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>

        <Button [text]="beforeCode? localizeProceed : localizeSubmitNewPassword" (tap)="submit()"
            class="btn btn-primary m-t-20" [disabled]="waitingForResponse"></Button>
    </StackLayout>
    <label class="go-back-label" (tap)="backToLogin()" text="{{'login.backToLogin' | L}}" [disabled]="waitingForResponse"></label>
</FlexboxLayout>