@import '../../../../app-common';

.main{
    background-color: $themeColor;
}

.title{
    font-size: $titleFontSize;
    margin: 10;
    margin-top: 20;
}

.result{
    font-size: $subtitleFontSize;
}