@import "~@nativescript/theme/core";
@import "~@nativescript/theme/blue";

// Font icon class
$themeColor: rgb(35, 204, 153);
$greyText: rgb(168, 151, 151);
$headerHeight: 140px;
$bottomHeight: 65;
// $headerFontSize: 16;
$titleFontSize: 23%;
$subtitleFontSize: 19%;
$regularFontSize: 15%;
$smallFontSize: 12%;
$boldFont: 'Heebo-Bold';
$semiBoldFont: 'Heebo-SemiBold';
$mediumBoldFont: 'Heebo-Medium';
$regularBoldFont: 'Heebo-Regular';

Label{
    text-wrap: true;
}

.header{
    height: $headerHeight;
    font-size: $titleFontSize;
    // margin: 20 10 0;
    font-family: $semiBoldFont;
}

.exit{
      opacity: 0.2;
}
    
.titleIcon{
    height: 55%;
}

.line{
    height: 4;
    background-color: rgb(246, 246, 246);
}

.greyText{
    color: black;
    opacity: 0.5;
}

.titleFontSize{
    font-size: $titleFontSize;
}

.regularBoldFont{
    font-family: $regularBoldFont;
}

.secondFontSize{
    font-size: $subtitleFontSize;
}

.thirdFontSize{
    font-size: $regularFontSize;
}

.smallFontSize{
    font-size: $smallFontSize;
}

.semiBoldFont{
    font-family: $semiBoldFont;
}


// .fab {
//     font-family: "Font Awesome 5 Brands", "fa-brands-400";
//     font-weight: 400;
// }

// .fas {
//     font-family: "Font Awesome 5 Free", "fa-solid-900";
//     font-weight: 900;
// }

.far {
    font-family: "Font Awesome 5 Free", "fa-regular-400";
    font-weight: 400;
}