<FlexboxLayout flexDirection="column" height="400" style="justify-content: space-between;">
    <StackLayout margin="25" height="70%" class="thirdFontSize">
        <GridLayout [columns]="languageService.rightToLeft? '*,4*' : '4*,*'" class="header">
            <SVGImage class="exit titleIcon" [col]="languageService.rightToLeft? 0 : 1" src="~/assets/icons/times-light.svg"
                (tap)="exit()">
            </SVGImage>
            <Label class="secondFontSize semiBoldFont" style="vertical-align: middle;"
                text="{{ 'profile.changePassword' | odedI18N:languageService.dummyUpdate }}" [col]="languageService.rightToLeft? 1 : 0"></Label>
        </GridLayout>
        <FlexboxLayout flexDirection="column" style="justify-content: space-between;">
            <label text="{{ 'profile.currentPassword' | odedI18N:languageService.dummyUpdate }}"></label>
            <TextField [(ngModel)]="oldPassword" autocapitalizationType="none" class="input" autocorrect="false"
                secure="true" returnKeyType="next">
            </TextField>
            <label text="{{ 'profile.newPassword' | odedI18N:languageService.dummyUpdate }}"></label>
            <TextField [(ngModel)]="newPassword" autocapitalizationType="none" class="input" autocorrect="false"
                secure="true" returnKeyType="next">
            </TextField>
            <label text="{{ 'profile.confirmNewPassword' | odedI18N:languageService.dummyUpdate }}"></label>
            <TextField [(ngModel)]="confirmPassword" autocapitalizationType="none" class="input" autocorrect="false"
                secure="true" returnKeyType="done" (returnPress)="ok()">
            </TextField>
        </FlexboxLayout>
    </StackLayout>
    <FlexboxLayout class="confirm" (tap)="ok()">
        <label text="{{ 'labels.OK' | odedI18N:languageService.dummyUpdate }}"></label>
    </FlexboxLayout>
</FlexboxLayout>