<FlexboxLayout margin="40 20" flexDirection="column" height="450" style="align-items: center;">
    <label class="header secondFontSize" text="רק רגע"></label>
    <label class="message"
        text="כדי לשנות את השפה אנחנו נאלצים לסגור את האפליקציה. פתחו אותה שוב כדי שהשינוי יכנס לתוקף"></label>

    <label class="header" text="Just a minute"></label>
    <label class="message"
        text="To change the language we have to close the app. Open it again for the change to take effect"></label>
        <SVGImage height="25%" src="~/assets/icons/language.svg">
    </SVGImage>
</FlexboxLayout>