@import '../../../app';

.text{
    font-size: $subtitleFontSize;
    text-align: center;
}

.confirm{
    background-color: $themeColor;
    color: white;
    width: 100%;
    height: $bottomHeight;
    justify-content: center;
    align-items: center;
    font-size: $titleFontSize;
}