@import '../../app';

.circle{
    border-radius: 100%;
    background-color: $themeColor;
    vertical-alignment: center;
    shadow-radius:100;
}

.gif{
    z-index: 1; 
    height: 100%;
    width: 100%;
    // background-color: white;
    // opacity: 0.8;
}

.waitingLabel{
    text-align: center;
    font-size: 15%;
    font-weight: bold;
}

.iconsFlex{
    justify-content: space-between;
}

.imagesMargin{
    margin-left: 15;
    margin-right: 15;
    margin-bottom: 15;
}

.searchField{
    border-color: transparent;
    margin: 0 15;
    font-size: $subtitleFontSize;
    border-bottom-width: 1 ; // in order to override default color
    placeholder-color: rgb(207, 140, 140);
}

.searchBar{
    background-color: white;
    border-radius: 100;
}