<GridLayout rows="2*,2*,11*">
    <StackLayout *ngIf="loading" rowSpan="3" class="gif" horizontalAlignment="center"
        verticalAlignment="center">
        <ns-waiting-gif></ns-waiting-gif>
    </StackLayout>
    <maps:mapView (coordinateTapped)="clickOnMap()" row="0" rowSpan="3" [zoom]="defaultZoom"
        (mapReady)="onMapReady(map)" (coordinateLongPress)="coordinateLongPress($event.position)"
        (markerSelect)="clickOnMarker($event.marker)" [latitude]="31.7962994" [longitude]="35.2453993" #map>
    </maps:mapView>
    <FlexboxLayout row="0" class="iconsFlex imagesMargin">
        <StackLayout [height]="singleRowHeight" [width]="singleRowHeight" class="circle" (tap)="searchMode = true" *ngIf="!searchMode">
            <SVGImage height="42.5%" src="~/assets/icons/search-white.svg">
            </SVGImage>
        </StackLayout>
        <StackLayout [height]="singleRowHeight" [width]="singleRowHeight" class="circle" (tap)="setMyPosition()" *ngIf="!searchMode">
            <SVGImage height="50%" src="~/assets/icons/location-white.svg">
            </SVGImage>
        </StackLayout>
    </FlexboxLayout>
    <GridLayout *ngIf="searchMode" columns="*,3*" class="searchBar imagesMargin">
        <SVGImage height="42.5%" marginRight="20" src="~/assets/icons/search.svg"></SVGImage>
        <textField col="1" returnKeyType="search" hint="{{ 'map.springSearch' | L }}" colSpan="2" class="searchField"
            (loaded)="onSearchBarLoaded($event)" (returnPress)="searchByName()"></textField>
    </GridLayout>
    <FlexboxLayout row="1" class="iconsFlex imagesMargin">
        <StackLayout [height]="singleRowHeight" [width]="singleRowHeight" class="circle" (tap)="navigateToFilters()" *ngIf="!searchMode">
            <SVGImage row="1" height="42.5%" src="~/assets/icons/sliders-white.svg">
            </SVGImage>
        </StackLayout>
    </FlexboxLayout>
</GridLayout>