<StackLayout>
    <ns-hotels-filters (hideFilters)="hideTheFilters()" *ngIf="!hotelsService.showList"></ns-hotels-filters>
    <scrollView width="100%" height="100%" *ngIf="hotelsService.showList">
        <StackLayout>
            <FlexboxLayout height="60" class="header"
                [ngStyle]="{'flex-direction': rightToLeft? 'row' : 'row-reverse'}">
                <img height="100%" src="res://icon" (tap)="navigateToFilters()" />
                <label text="{{ 'hotelsList.title' | L }}"></label>
            </FlexboxLayout>
            <StackLayout class="line"></StackLayout>
            <ns-waiting-gif *ngIf="waitingForResponse"></ns-waiting-gif>
            <StackLayout width="100%" height="100%" padding="18">
                <FlexboxLayout flexWrap="wrap" [ngStyle]="{'flex-direction': rightToLeft? 'row-reverse' : 'row'}">
                    <StackLayout (tap)="navigateToHotel(hotel.ID)" width="50%" paddingBottom="20"
                        [padding]="((i%2==0 || rightToLeft) && !(i%2==0 && rightToLeft))? '0, 9, 0, 0' : '0, 0, 0, 9'"
                        *ngFor="let hotel of hotelsList; let i = index">
                        <GridLayout height="150">
                            <Carousel [items]="hotel.images" android:indicatorAnimation="scale" indicatorColor="#fff"
                                indicatorColorUnselected="rgba(206, 193, 193, 0.61)" indicatorOffset="0, 20"
                                showIndicator="true">
                                <CarouselItem *ngFor="let item of hotel.images">
                                    <GridLayout>
                                        <ns-waiting-gif></ns-waiting-gif>
                                        <Image (tap)="navigateToHotel(hotel.ID)" style="z-index: 3;" [src]="item"
                                            width="100%" height="100%" stretch="fill"></Image>
                                    </GridLayout>
                                </CarouselItem>
                            </Carousel>
                        </GridLayout>
                        <label text="{{hotel.name}}"></label>
                        <label text="{{hotel.city}}, {{'hotelsList.startingFrom' | L}}{{hotel.price}} &#8362;"></label>
                    </StackLayout>
                </FlexboxLayout>
            </StackLayout>
        </StackLayout>
    </scrollView>
</StackLayout>