<FlexboxLayout class="page">
	<StackLayout class="form">
		<!-- <Image class="logo" src="~/images/logo.png"></Image> -->
		<Label class="header" text="{{ 'app.name' | L }}"></Label>
		<ActivityIndicator *ngIf="waitingForResponse" [busy]="waitingForResponse"></ActivityIndicator>
		<button text="login with facebook" (tap)="loginWithFacebook()"></button>
		<button text="logout" (tap)="logout()"></button>
		<button text="login with google" (tap)="loginWithGoogle()"></button>

		<StackLayout class="input-field">
			<TextField class="input" hint="{{ 'labels.email' | L }}" keyboardType="email" autocorrect="false"
				autocapitalizationType="none" [(ngModel)]="user.email" returnKeyType="next"
				(returnPress)="focusPassword()" [disabled]="waitingForResponse"></TextField>
			<StackLayout class="hr-light"></StackLayout>
		</StackLayout>

		<StackLayout class="input-field">
			<TextField #password class="input" hint="{{ 'login.password' | L }}" secure="true"
				[(ngModel)]="user.password" [returnKeyType]="isLoggingIn ? 'done' : 'next'"
				(returnPress)="focusConfirmPassword()" [disabled]="waitingForResponse"></TextField>
			<StackLayout class="hr-light"></StackLayout>
		</StackLayout>

		<StackLayout *ngIf="!isLoggingIn" class="input-field">
			<TextField #confirmPassword class="input" hint="{{ 'login.confirmPassword' | L }}" secure="true"
				returnKeyType="next" (returnPress)="focusConfirmPassword()" [disabled]="waitingForResponse"></TextField>
			<StackLayout class="hr-light"></StackLayout>
		</StackLayout>

		<StackLayout *ngIf="!isLoggingIn" class="input-field">
			<TextField #nick class="input" hint="{{ 'login.nick' | L }}" [(ngModel)]="user.nick" returnKeyType="done"
				[disabled]="waitingForResponse"></TextField>
			<StackLayout class="hr-light"></StackLayout>
		</StackLayout>

		<Button [text]="isLoggingIn ? localizeLogin : localizeSignUp" (tap)="submit()"
			class="btn btn-primary m-t-20" [disabled]="waitingForResponse"></Button>
		<Label *ngIf="isLoggingIn" text="{{ 'login.forgotPassword' | L }}" class="login-label" (tap)="forgotPassword()"
			[disabled]="waitingForResponse"></Label>
	</StackLayout>

	<Label class="login-label sign-up-label" (tap)="toggleForm()" [disabled]="waitingForResponse">
		<FormattedString>
			<Span [text]="isLoggingIn ? localizedontHaveAcount : localizeBackToLogin"></Span>
			<Span [text]="isLoggingIn ? localizeSignUp : ''" class="bold"></Span>
		</FormattedString>
	</Label>
</FlexboxLayout>