@import '../../../app-common';

.text{
    font-size: $subtitleFontSize;
    margin: 10 10 -5;
}

.circle{
    border-radius: 100%; 
}

.gif{
    height: 100%;
    width: 100%; 
    background-color: white;
    opacity: 0.5;
    z-index: 2;
}