<!-- <StackLayout width="60%" height="300">
    <StackLayout margin="20" height="80%" class="header">
        <FlexboxLayout>
            <label text="X"></label>
            <label text="{{ 'login.resetPassword' | L }}"></label>
        </FlexboxLayout>
    </StackLayout>
    <FlexboxLayout height="70%" class="confirm">
        <label text="{{ 'labels.OK' | L }}"></label>
    </FlexboxLayout>
</StackLayout> -->
<FlexboxLayout flexDirection="column" height="300">
    <StackLayout margin="30" height="80%">
        <FlexboxLayout class="header">
            <label text="X" (tap)="exit()"></label>
            <label text="{{ 'login.resetPassword' | L }}"></label>
        </FlexboxLayout>
        <label class="email" text="{{ 'labels.email' | L }}"></label>
        <TextField [(ngModel)]="email" keyboardType="email" autocapitalizationType="none" class="input"
            autocorrect="false" returnKeyType="done" (returnPress)="navigateToResetPassword()"></TextField>
        <label text="{{ 'login.codeSent' | L }}"></label>
    </StackLayout>
    <FlexboxLayout height="40%" class="confirm" (tap)="navigateToResetPassword()">
        <label text="{{ 'labels.OK' | L }}"></label>
    </FlexboxLayout>
</FlexboxLayout>