@import '../../../../_app-common.scss';

.upper{
    font-size: $subtitleFontSize;
    margin-bottom: 10;
    font-weight: 600;
    height: 30%;
    width: 100%;
}

.email{
    color: black;
    opacity: 0.5;
    font-size: $regularFontSize;
    width: 100%;
}

.info{
    font-size: $smallFontSize;
}

.confirm{
    background-color: $themeColor;
    color: whitesmoke;
    width: 100%;
    height: $bottomHeight;
    justify-content: center;
    align-items: center;
    font-size: $subtitleFontSize;
}

.input{
    width: 100%;
    font-size: 15;
    border-bottom-color: $themeColor; 
    margin: 0 -10 0;
  }