<ScrollView height="100%">
    <StackLayout>
        <FlexboxLayout class="header title" [ngStyle]="{'flex-direction': rightToLeft? 'row' : 'row-reverse'}">
            <label text="X"></label>
            <label text="{{ 'games.chooseQuiz' | L }}"></label>
        </FlexboxLayout>
        <StackLayout class="line"></StackLayout>
        <ns-waiting-gif class="gif" *ngIf="waitingForResponse"></ns-waiting-gif>
        <StackLayout *ngFor="let quiz of quizes" (tap)="openUrl(quiz.url)">
            <FlexboxLayout class="quizLine" [ngStyle]="{'flex-direction': rightToLeft? 'row' : 'row-reverse'}">
                <img src="res://icon"/>
                <label [text]="quiz.name"></label>
            </FlexboxLayout>
            <StackLayout class="line"></StackLayout>
        </StackLayout>
    </StackLayout>
</ScrollView>