<StackLayout>
    <GridLayout class="header secondFontSize" [columns]="languageService.rightToLeft? '*,5*' : '5*,*'">
        <FlexboxLayout marginRight="10" style="align-items: center;" [col]="languageService.rightToLeft? 1 : 0"
            [ngStyle]="{'justify-content': languageService.rightToLeft? 'flex-end' : 'flex-start'}">
            <label text="{{ 'games.landKing' | odedI18N:languageService.dummyUpdate }}"></label>
        </FlexboxLayout>
        <SVGImage class="exit" height="50%" [col]="languageService.rightToLeft? 0 : 1"
            src="~/assets/icons/times-light.svg" (tap)="navigateToScroe()">
        </SVGImage>
    </GridLayout>
    <StackLayout class="line"></StackLayout>
    <FlexboxLayout style="justify-content: space-between; height: 100%;" flexDirection="column">
        <GridLayout #container height="87%" (onloaded)="mapLoaded(container)">
            <ns-waiting-gif [opacity]="opacity" *ngIf="waitingForResponse"></ns-waiting-gif>
            <SVGImage [scaleX]="getScale()+0.3" [scaleY]="getScale()" [opacity]="opacity" src="~/assets/icons/map.svg">
            </SVGImage>
            <ns-location-component [location]="guessedLocation" [container]="container" [feedback]="feedback"
                *ngIf="guessedLocation" (draggedEmitter)="userLocate($event)" (draggStartEmitter)="draggingStarted()">
            </ns-location-component>
        </GridLayout>
        <FlexboxLayout class="lowerLine" [opacity]="opacity">
            <FlexboxLayout *ngIf="userService.userLoggedIn" style="justify-content: space-around; align-items: center;">
                <SVGImage class="icon" src="~/assets/icons/trophy.svg">
                </SVGImage>
                <Label color="white" class="thirdFontSize regularBoldFont" style="text-align: center;"
                    [text]="highScore"></Label>
            </FlexboxLayout>
            <FlexboxLayout style="justify-content: center; align-items: center;">
                <SVGImage class="icon" src="~/assets/icons/clock.svg">
                </SVGImage>
                <Label color="white" class="thirdFontSize regularBoldFont" style="text-align: center;"
                    text="{{ time | date:'mm:ss':'UTC' }}"></Label>
            </FlexboxLayout>
            <FlexboxLayout style="justify-content: center; align-items: center;">
                <SVGImage class="icon" src="~/assets/icons/starWhite.svg">
                </SVGImage>
                <Label color="white" class="thirdFontSize regularBoldFont" style="text-align: center;"
                    text="{{ gameService.score }}"></Label>
            </FlexboxLayout>
        </FlexboxLayout>
    </FlexboxLayout>
</StackLayout>