<FlexboxLayout flexDirection="column" height="350">
    <!-- <StackLayout margin="30" height="70%">
        <FlexboxLayout class="header" [ngStyle]="{'flex-direction': rightToLeft? 'row' : 'row-reverse'}"
            style="justify-content: space-between;">
            <label text="X" (tap)="exit()"></label>
            <label text="{{ 'games.gameRules' | L }}"></label>
        </FlexboxLayout>
        <label class="text" text="{{ 'games.landKingText' | L }}"></label>
    </StackLayout> -->
    <StackLayout margin="30" height="70%">
        <GridLayout class="header secondFontSize" [columns]="rightToLeft? '*,5*' : '5*,*'">
            <FlexboxLayout marginRight="10" style="align-items: center;" [col]="rightToLeft? 1 : 0"
                [ngStyle]="{'justify-content': rightToLeft? 'flex-end' : 'flex-start'}">
                <label text="{{ 'games.gameRules' | L }}"></label>
            </FlexboxLayout>
            <SVGImage class="exit" height="50%" [col]="rightToLeft? 0 : 1" src="~/assets/icons/times-light.svg"
                (tap)="exit()">
            </SVGImage>
        </GridLayout>
        <label class="secondFontSize regularBoldFont" text="{{ 'games.landKingText' | L }}"></label>
    </StackLayout>
    <FlexboxLayout style="flex-direction: column; height: 30%; justify-content: flex-end;" flexDirection="column">
        <FlexboxLayout class="confirm" (tap)="confirm()">
            <label text="{{ 'labels.OK' | L }}"></label>
        </FlexboxLayout>
    </FlexboxLayout>
</FlexboxLayout>