<ScrollView height="100%">
    <FlexboxLayout flexDirection="column" height="400">
    <StackLayout margin="30" height="70%">
        <GridLayout class="header secondFontSize" [columns]="languageService.rightToLeft? '*,5*' : '5*,*'">
            <FlexboxLayout marginRight="10" style="align-items: center;" [col]="languageService.rightToLeft? 1 : 0"
            [ngStyle]="{'justify-content': languageService.rightToLeft? 'flex-end' : 'flex-start'}">
            <label text="{{ 'games.gameRules' | odedI18N:languageService.dummyUpdate }}"></label>
        </FlexboxLayout>
        <SVGImage class="exit" height="50%" [col]="languageService.rightToLeft? 0 : 1" src="~/assets/icons/times-light.svg"
        (tap)="exit()">
    </SVGImage>
</GridLayout>
<label class="secondFontSize regularBoldFont" text="{{ 'games.landKingText' | odedI18N:languageService.dummyUpdate }}"></label>
</StackLayout>
<FlexboxLayout style="flex-direction: column; height: 30%; justify-content: flex-end;" flexDirection="column">
    <FlexboxLayout class="confirm" (tap)="confirm()">
        <label text="{{ 'labels.OK' | odedI18N:languageService.dummyUpdate }}"></label>
    </FlexboxLayout>
</FlexboxLayout>
</FlexboxLayout>
</ScrollView>