@import '../../../app.scss';

.input {
  width: 100%;
  font-size: $regularFontSize;
  placeholder-color: #A8A8A8;
  margin: 0; // WTF otherwise it get margin on the sides
  border-bottom-width: 2;
  border-color: $themeColor;
}

.title{
  font-size: $regularFontSize;
  color: $greyText;
}

.confirm {
  justify-content: center;
  align-items: center;
  font-size: $subtitleFontSize;
  color: white;
  background-color: $themeColor;
  height: $bottomHeight;
}