<StackLayout>
	<GridLayout rows="7*,*">
		<ns-waiting-gif *ngIf="waitingForResponse" rowSpan="2"></ns-waiting-gif>
		<StackLayout height="89%">
			<GridLayout columns="*,3*,*" margin="20 20" style="font-size: 25;" height="40">
				<Label width="100%" [ngStyle]="{'text-align': rightToLeft? 'left' : 'right'}" text="X"
					[isUserInteractionEnabled]="!waitingForResponse" [col]="rightToLeft? 0 : 2"
					(tap)="navigateToLogin()" (onloaded)="alignVertical(title)" #title></Label>
				<Label text="{{ 'login.resetPassword' | L }}" col="1"></Label>
			</GridLayout>
			<StackLayout class="line" margin="0 10"></StackLayout>
			<StackLayout margin="20">
				<FlexboxLayout justifyContent="center" width="100%" height="100%" flexDirection="column">
					<label class="title" text="{{ 'login.requireCode' | L }}"></label>
					<TextField marginBottom="50" [(ngModel)]="code" class="input" autocorrect="false"
						autocapitalizationType="none" returnKeyType="next" [disabled]="waitingForResponse"></TextField>
					<label class="title" text="{{ 'login.createPassword' | L }}"></label>
					<TextField marginBottom="50" [(ngModel)]="password" class="input" autocorrect="false" secure="true"
						autocapitalizationType="none" returnKeyType="next" [disabled]="waitingForResponse"></TextField>
					<label class="title" text="{{ 'login.confirmPassword' | L }}"></label>
					<TextField marginBottom="50" [(ngModel)]="confirmPassword" class="input" autocorrect="false"
						secure="true" autocapitalizationType="none" returnKeyType="go" (returnPress)="submit()"
						[disabled]="waitingForResponse"></TextField>
				</FlexboxLayout>
			</StackLayout>
		</StackLayout>
		<FlexboxLayout row="1" flexDirection="column" style="justify-content: flex-end;">
			<FlexboxLayout  class="confirm" [isUserInteractionEnabled]="!waitingForResponse" (tap)="submit()">
				<label text="{{ 'labels.OK' | L }}"></label>
			</FlexboxLayout>
		</FlexboxLayout>
	</GridLayout>
</StackLayout>


<!-- <FlexboxLayout class="page">
	<StackLayout class="form">
		<Label class="header" text="{{ 'app.name' | L }}"></Label>
		<ActivityIndicator *ngIf="waitingForResponse" [busy]="waitingForResponse"></ActivityIndicator>
		<button text="login with facebook" (tap)="loginWithFacebook()"></button>
		<button text="logout" (tap)="logout()"></button>
		<button text="login with google" (tap)="loginWithGoogle()"></button>

		<StackLayout class="input-field">
			<TextField class="input" hint="{{ 'labels.email' | L }}" keyboardType="email" autocorrect="false"
				autocapitalizationType="none" [(ngModel)]="user.email" returnKeyType="next"
				(returnPress)="focusPassword()" [disabled]="waitingForResponse"></TextField>
			<StackLayout class="hr-light"></StackLayout>
		</StackLayout>

		<StackLayout class="input-field">
			<TextField #password class="input" hint="{{ 'login.password' | L }}" secure="true"
				[(ngModel)]="user.password" [returnKeyType]="isLoggingIn ? 'done' : 'next'"
				(returnPress)="focusConfirmPassword()" [disabled]="waitingForResponse"></TextField>
			<StackLayout class="hr-light"></StackLayout>
		</StackLayout>

		<StackLayout *ngIf="!isLoggingIn" class="input-field">
			<TextField #confirmPassword class="input" hint="{{ 'login.confirmPassword' | L }}" secure="true"
				returnKeyType="next" (returnPress)="focusConfirmPassword()" [disabled]="waitingForResponse"></TextField>
			<StackLayout class="hr-light"></StackLayout>
		</StackLayout>

		<StackLayout *ngIf="!isLoggingIn" class="input-field">
			<TextField #nick class="input" hint="{{ 'login.nick' | L }}" [(ngModel)]="user.nick" returnKeyType="done"
				[disabled]="waitingForResponse"></TextField>
			<StackLayout class="hr-light"></StackLayout>
		</StackLayout>

		<Button [text]="isLoggingIn ? localizeLogin : localizeSignUp" (tap)="submit()"
			class="btn btn-primary m-t-20" [disabled]="waitingForResponse"></Button>
		<Label *ngIf="isLoggingIn" text="{{ 'login.forgotPassword' | L }}" class="login-label" (tap)="forgotPassword()"
			[disabled]="waitingForResponse"></Label>
	</StackLayout>

	<Label class="login-label sign-up-label" (tap)="toggleForm()" [disabled]="waitingForResponse">
		<FormattedString>
			<Span [text]="isLoggingIn ? localizedontHaveAcount : localizeBackToLogin"></Span>
			<Span [text]="isLoggingIn ? localizeSignUp : ''" class="bold"></Span>
		</FormattedString>
	</Label>
</FlexboxLayout> -->


<!-- <FlexboxLayout class="page">
    <StackLayout class="form">
        <Label class="header" text="{{'app.name' | L}}"></Label>
        <ActivityIndicator *ngIf="waitingForResponse" [busy]="waitingForResponse"></ActivityIndicator>

        <label *ngIf="beforeCode" textWrap="true" class="info-label"
            text="{{'login.requireEmail' | L}}"></label>
        <StackLayout class="input-field">
            <TextField class="input" hint="{{ 'labels.email' | L }}" keyboardType="email" autocorrect="false" autocapitalizationType="none"
                [(ngModel)]="user.email" returnKeyType="done" [disabled]="!beforeCode || waitingForResponse">
            </TextField>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>


        <StackLayout *ngIf="!beforeCode" class="input-field">
            <TextField class="input" hint="{{ 'login.code' | L }}" [(ngModel)]="code" returnKeyType="next"
                (returnPress)="focusPassword()" [disabled]="waitingForResponse"></TextField>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>

        <StackLayout *ngIf="!beforeCode" class="input-field">
            <TextField #password class="input" hint="{{ 'login.password' | L }}" secure="true" [(ngModel)]="user.password"
                [returnKeyType]="isLoggingIn ? 'done' : 'next'" (returnPress)="focusConfirmPassword()" [disabled]="waitingForResponse"></TextField>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>

        <StackLayout *ngIf="!beforeCode" class="input-field">
            <TextField #confirmPassword class="input" hint="{{ 'login.confirmPassword' | L }}" secure="true" 
            returnKeyType="done" [disabled]="waitingForResponse"></TextField>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>

        <Button [text]="beforeCode? localizeProceed : localizeSubmitNewPassword" (tap)="submit()"
            class="btn btn-primary m-t-20" [disabled]="waitingForResponse"></Button>
    </StackLayout>
    <label class="go-back-label" (tap)="backToLogin()" text="{{'login.backToLogin' | L}}" [disabled]="waitingForResponse"></label>
</FlexboxLayout> -->