<StackLayout>
	<GridLayout rows="7*,*">
		<ns-waiting-gif *ngIf="waitingForResponse" rowSpan="2"></ns-waiting-gif>
		<StackLayout height="89%">
			<GridLayout columns="*,4*,*" class="header">
				<SVGImage width="100%" [isUserInteractionEnabled]="!waitingForResponse" class="exit titleIcon"
					[col]="rightToLeft? 0 : 2" src="~/assets/icons/times-light.svg" (tap)="navigateToLogin()">
				</SVGImage>
				<Label text="{{ 'login.resetPassword' | L }}" col="1" (onloaded)="alignVertical(title)" #title></Label>
			</GridLayout>
			<StackLayout class="line"></StackLayout>
			<StackLayout margin="20">
				<FlexboxLayout justifyContent="center" width="100%" height="100%" flexDirection="column">
					<label class="title greyText" text="{{ 'login.requireCode' | L }}"></label>
					<TextField marginBottom="50" [(ngModel)]="code" class="input" autocorrect="false"
						autocapitalizationType="none" returnKeyType="next" [disabled]="waitingForResponse"></TextField>
					<label class="title greyText" text="{{ 'login.createPassword' | L }}"></label>
					<TextField marginBottom="50" [(ngModel)]="password" class="input" autocorrect="false" secure="true"
						autocapitalizationType="none" returnKeyType="next" [disabled]="waitingForResponse"></TextField>
					<label class="title greyText" text="{{ 'login.confirmPassword' | L }}"></label>
					<TextField marginBottom="50" [(ngModel)]="confirmPassword" class="input" autocorrect="false"
						secure="true" autocapitalizationType="none" returnKeyType="go" (returnPress)="submit()"
						[disabled]="waitingForResponse"></TextField>
				</FlexboxLayout>
			</StackLayout>
		</StackLayout>
		<FlexboxLayout row="1" flexDirection="column" style="justify-content: flex-end;">
			<FlexboxLayout class="confirm" [isUserInteractionEnabled]="!waitingForResponse" (tap)="submit()">
				<label text="{{ 'labels.OK' | L }}"></label>
			</FlexboxLayout>
		</FlexboxLayout>
	</GridLayout>
</StackLayout>