<ScrollView height="100%">
  <StackLayout>
      <GridLayout class="header" columns="*,2*,*">
        <SVGImage height="60%" [col]="languageService.rightToLeft? 0 : 2" fillColors="yellow"
          src="~/assets/icons/facebook-green.svg" (tap)="openWebsite()">
        </SVGImage>
        <label text="{{ 'labels.about' | odedI18N:languageService.dummyUpdate }}" col="1" class="title"
          (onloaded)="alignVertical(title)" #title></label>
      </GridLayout>
      <StackLayout class="line"></StackLayout>
      <SVGImage margin="40 0 20" height="30%" src="~/assets/icons/logo line with text.svg">
      </SVGImage>
    <label class="text" text="{{ 'about.text' | odedI18N:languageService.dummyUpdate }}"></label>
  </StackLayout>
</ScrollView>