<StackLayout>
	<ns-profile (goToMap)="navigateToMap()" (goToAbout)="navigateToAbout()" (logOutEmitter)="logOut()" *ngIf="userService.userLoggedIn">
	</ns-profile>
	<GridLayout *ngIf="!userService.userLoggedIn" rows="4*,*">
		<ns-waiting-gif *ngIf="waitingForResponse" rowSpan="2"></ns-waiting-gif>
		<StackLayout>
			<GridLayout columns="*,*" height="14%" marginBottom="20" class="titleFontSize semiBoldFont">
				<label (onloaded)="alignVertical(login)"
					text="{{ 'login.login' | odedI18N:languageService.dummyUpdate }}" #login></label>
				<label class="greyText upper" borderLeftWidth="3" (onloaded)="alignVertical(signUp)"
					text="{{ 'login.signUp' | odedI18N:languageService.dummyUpdate }}" col="1" (tap)="goToSignUp()"
					#signUp></label>
			</GridLayout>
			<label [isUserInteractionEnabled]="!waitingForResponse" class="signUp greyText"
				text="{{ 'login.skip' | odedI18N:languageService.dummyUpdate }}" enabled="false"
				(tap)="navigateToMap()"></label>
			<FlexboxLayout height="90%" marginTop="40" padding=20
				style="flex-direction: column; justify-content: space-around;">
				<label class="title greyText"
					text="{{ 'labels.email' | odedI18N:languageService.dummyUpdate }}"></label>
				<TextField [(ngModel)]="user.email" class="input" keyboardType="email" autocorrect="false"
					autocapitalizationType="none" returnKeyType="next" [disabled]="waitingForResponse"></TextField>
				<label class="title greyText"
					text="{{ 'login.password' | odedI18N:languageService.dummyUpdate }}"></label>
				<TextField [(ngModel)]="user.password" class="input" autocorrect="false" secure="true"
					autocapitalizationType="none" returnKeyType="go" (returnPress)="submit()"
					[disabled]="waitingForResponse"></TextField>
				<FlexboxLayout width="100%"
					[ngStyle]="{'justify-content': languageService.rightToLeft? 'flex-start' : 'flex-end'}">
					<label [isUserInteractionEnabled]="!waitingForResponse" class="greyText forgotPassword"
						text="{{ 'login.forgotPassword' | odedI18N:languageService.dummyUpdate }}"
						(tap)="forgotPassword()"></label>
				</FlexboxLayout>
				<button class="loginBtn" text="{{ 'login.login' | odedI18N:languageService.dummyUpdate }}"
					[isEnabled]="!waitingForResponse" (tap)="submit()"></button>
			</FlexboxLayout>
		</StackLayout>
		<FlexboxLayout row="1" height="100%" flexDirection="column" style="justify-content: flex-end;">
			<FlexboxLayout (tap)="loginWithFacebook()" class="facebook"
				[isUserInteractionEnabled]="!waitingForResponse">
				<label color="white" text="{{ 'login.loginFacebook' | odedI18N:languageService.dummyUpdate }}"></label>
				<SVGImage width="15%" height="50%" src="~/assets/icons/facebook-white.svg"></SVGImage>
			</FlexboxLayout>
		</FlexboxLayout>
	</GridLayout>
</StackLayout>