@import '../../../app.scss';

.facebook{
  height: $bottomHeight;
  font-size: $subtitleFontSize;
  background-color: rgb(0, 134, 212);
  align-items: center;
  color: white;
  justify-content: center;
}

.title{
  font-size: $regularFontSize;
}

.signUp{
  font-size: $subtitleFontSize; 
  text-align: center;
}

.loginBtn{
  font-size: $subtitleFontSize;
  color: white;
  background-color: $themeColor;
  height: $bottomHeight;
  width: 100%;
}

.langLabel{
  font-size: $subtitleFontSize; 
  color: black;
}

.input {
  width: 100%; // delete?
  font-size: $subtitleFontSize;
  placeholder-color: #A8A8A8;
  border-bottom-width: 2;
  border-color: $themeColor;
  margin: 0; // BUG: if margin is not set there is default of about 10 from the sides
}

.forgotPassword{
  font-size: $smallFontSize;
}
