<StackLayout>
	<ns-profile (goToMap)="navigateToMap()" (goToAbout)="navigateToAbout()" *ngIf="userService.userLoggedIn"></ns-profile>
	<GridLayout *ngIf="!userService.userLoggedIn" rows="7*,*">
		<ns-waiting-gif *ngIf="waitingForResponse" rowSpan="2"></ns-waiting-gif>
		<StackLayout>
			<GridLayout columns="*,4*,*" class="header">
				<Label [isUserInteractionEnabled]="!waitingForResponse" class="greyText" width="100%"
					[ngStyle]="{'text-align': rightToLeft? 'left' : 'right'}" text="X" [col]="rightToLeft? 0 : 2"
					(tap)="navigateToMap()" (onloaded)="alignVertical(exit)" #exit></Label>
				<Label text="{{ 'login.login' | L }}" col="1" (onloaded)="alignVertical(title)" #title></Label>
			</GridLayout>
			<StackLayout class="line"></StackLayout>
			<label [isUserInteractionEnabled]="!waitingForResponse" class="signUp greyText"
				text="{{ 'login.dontHaveAccount' | L }}" enabled="false" (tap)="goToSignUp()"></label>
			<FlexboxLayout height="100%" margin="20" style="flex-direction: column; justify-content: space-around;">
				<label style="font-size: 15; margin-bottom: -10;" class="greyText" width="100%" text="{{ 'labels.language' | L }}"></label>
				<FlexboxLayout margin="0 -6 20" justifyContent="space-between" style="font-size: 15;">
					<FlexboxLayout style="align-items: center;">
						<CheckBox:CheckBox [isUserInteractionEnabled]="!waitingForResponse"
							(checkedChange)="$event.value? cbIw.checked = false : changeLanguage('iw')"
							[checked]="!rightToLeft" [fillColor]="mainColor" boxType="circle" #cbEn />
						<label [isUserInteractionEnabled]="!waitingForResponse" (tap)="cbEn.checked = true"
							text="English" class="langLabel"></label>
					</FlexboxLayout>
					<FlexboxLayout style="align-items: center;">
						<label [isUserInteractionEnabled]="!waitingForResponse" text="עברית"
							(tap)="cbIw.checked = true" class="langLabel"></label>
						<CheckBox:CheckBox [isUserInteractionEnabled]="!waitingForResponse"
							(checkedChange)="$event.value? cbEn.checked = false : changeLanguage('en')"
							[checked]="rightToLeft" [fillColor]="mainColor" boxType="circle" #cbIw />
					</FlexboxLayout>
				</FlexboxLayout>
				<label class="title greyText" text="{{ 'labels.email' | L }}"></label>
				<TextField [(ngModel)]="user.email" class="input" keyboardType="email"
					autocorrect="false" autocapitalizationType="none" returnKeyType="next"
					[disabled]="waitingForResponse"></TextField>
				<label class="title greyText" text="{{ 'login.password' | L }}"></label>
				<TextField [(ngModel)]="user.password" class="input" autocorrect="false" secure="true"
					autocapitalizationType="none" returnKeyType="go" (returnPress)="submit()"
					[disabled]="waitingForResponse"></TextField>
				<FlexboxLayout margin="-35 0 15" width="100%"
					[ngStyle]="{'justify-content': rightToLeft? 'flex-start' : 'flex-end'}">
					<label [isUserInteractionEnabled]="!waitingForResponse" style="font-size: 12;" class="greyText" text="{{ 'login.forgotPassword' | L }}"
						(tap)="forgotPassword()"></label>
				</FlexboxLayout>
				<button class="loginBtn" text="{{ 'login.login' | L }}" [isEnabled]="!waitingForResponse"
					(tap)="submit()"></button>
			</FlexboxLayout>
		</StackLayout>
		<FlexboxLayout row="1" height="100%" flexDirection="column" style="justify-content: flex-end;">
			<FlexboxLayout (tap)="loginWithFacebook()" class="facebook" [isUserInteractionEnabled]="!waitingForResponse">
				<label text="{{ 'login.loginFacebook' | L }}"></label>
				<img src="res://icon" height="60%" />
			</FlexboxLayout>
		</FlexboxLayout>
	</GridLayout>
</StackLayout>