<ScrollView height="100%">
    <StackLayout>
        <GridLayout class="header secondFontSize" [columns]="languageService.rightToLeft? '*,5*' : '5*,*'">
            <FlexboxLayout marginRight="10" style="align-items: center;" [col]="languageService.rightToLeft? 1 : 0"
                [ngStyle]="{'justify-content': languageService.rightToLeft? 'flex-end' : 'flex-start'}">
                <label text="{{ 'games.chooseSubject' | odedI18N:languageService.dummyUpdate }}"></label>
            </FlexboxLayout>
            <SVGImage class="exit" height="50%" [col]="languageService.rightToLeft? 0 : 1" src="~/assets/icons/times-light.svg"
                (tap)="navigateToGames()">
            </SVGImage>
        </GridLayout>
        <StackLayout class="line"></StackLayout>
        <ns-waiting-gif class="gif" *ngIf="waitingForResponse"></ns-waiting-gif>
        <StackLayout *ngFor="let subject of subjects">
            <FlexboxLayout (tap)="goToQuestion(subject)" class="questionLine"
                [ngStyle]="{'flex-direction': languageService.rightToLeft? 'row' : 'row-reverse'}">
                <SVGImage height="50%" width="10%" src="~/assets/icons/arrowLeft.svg">
                </SVGImage>
                <label class="regularBoldFont secondFontSize" [text]="subject.name"></label>
            </FlexboxLayout>
            <StackLayout margin="0,15" class="thinLine"></StackLayout>
        </StackLayout>
    </StackLayout>
</ScrollView>