<ScrollView height="100%">
    <StackLayout>
        <FlexboxLayout class="header title" [ngStyle]="{'flex-direction': rightToLeft? 'row' : 'row-reverse'}">
            <label text="X" (tap)="navigateToGames()"></label>
            <label text="{{ 'games.chooseSubject' | L }}"></label>
        </FlexboxLayout>
        <StackLayout class="line"></StackLayout>
        <ns-waiting-gif class="gif" *ngIf="waitingForResponse"></ns-waiting-gif>
        <StackLayout *ngFor="let subject of subjects">
            <FlexboxLayout (tap)="goToQuestion(subject)" class="questionLine" [ngStyle]="{'flex-direction': rightToLeft? 'row' : 'row-reverse'}">
                <img src="res://icon"/>
                <label [text]="subject.name"></label>
            </FlexboxLayout>
            <StackLayout class="line"></StackLayout>
        </StackLayout>
    </StackLayout>
</ScrollView>