$themeColor: rgb(35, 204, 153);
$greyText: rgb(168, 151, 151);
$lineColor: rgb(248, 244, 244);
$lineWidth: 4;
$thinLineColor: rgb(231, 231, 231);
$thinLineWidth: 2;
$headerHeight: 85;
$bottomHeight: 70;
// $headerFontSize: 16;
$titleFontSize: 24%;
$subtitleFontSize: 19%;
$regularFontSize: 16%;
$smallFontSize: 12%;
$boldFont: 'Heebo-Bold';
$semiBoldFont: 'Heebo-SemiBold';
$mediumBoldFont: 'Heebo-Medium';
$regularBoldFont: 'Heebo-Regular';

Label{
    text-wrap: true;
    color: black;
}

Button{
    color: white;
}

.header{
    height: $headerHeight;
    font-size: $titleFontSize;
    font-family: $semiBoldFont;
}

.exit{
      opacity: 0.2;
      height: 60;
}
    
.titleIcon{
    height: 40%;
}

.line{
    height: $lineWidth;
    background-color: $lineColor;
}

.thinLine{
    height: $thinLineWidth;
    background-color: $thinLineColor;
}

.greyText{
    color: black;
    opacity: 0.5;
}

.semiBoldFont{
    font-family: $semiBoldFont;
}

.mediumBoldFont{
    font-family: $mediumBoldFont;
}

.regularBoldFont{
    font-family: $regularBoldFont;
}

.titleFontSize{
    font-size: $titleFontSize;
}

.secondFontSize{
    font-size: $subtitleFontSize;
}

.thirdFontSize{
    font-size: $regularFontSize;
}

.smallFontSize{
    font-size: $smallFontSize;
}


TextField{
    border-bottom-width: 2;
    border-color: $themeColor;
}