<FlexboxLayout flexDirection="column" style="justify-content: space-between; height: 100%">
    <ScrollView height="87%">
        <StackLayout>
            <GridLayout class="header secondFontSize" [columns]="languageService.rightToLeft? '*,5*' : '5*,*'">
                <StackLayout margin="0 20" [col]="languageService.rightToLeft? 1 : 0" verticalAlignment="center"
                    [horizontalAlignment]="languageService.rightToLeft? 'right' : 'left'">
                    <label text="{{ 'hotelsFilters.title' | odedI18N:languageService.dummyUpdate }}"></label>
                </StackLayout>
                <SVGImage [margin]="languageService.rightToLeft? '0 0 0 10' : '0 10 0 0'" class="exit titleIcon" [col]="languageService.rightToLeft? 0 : 1" src="~/assets/icons/times-light.svg"
                    (tap)="navigateToFiltersView()">
                </SVGImage>
            </GridLayout>
            <StackLayout class="line" marginBottom="20"></StackLayout>
            <GridLayout class="areasGrid" [columns]="languageService.rightToLeft? '*,9*' : '9*,*'" (tap)="expandAreas()">
                <StackLayout height="100%" verticalAlignment="center" [col]="languageService.rightToLeft? 1 : 0">
                    <label class="secondFontSize regularBoldFont" text="{{ 'hotelsFilters.area' | odedI18N:languageService.dummyUpdate }}" #area></label>
                </StackLayout>
                <SVGImage class="titleIcon" [col]="languageService.rightToLeft? 0 : 1" src="~/assets/icons/arrowDown.svg" #expandImage>
                </SVGImage>
            </GridLayout>
            <FlexboxLayout margin="-10 20 0" [ngStyle]="{'justify-content': languageService.rightToLeft? 'flex-end' : 'flex-start'}"
                style="align-items: center;" *ngIf="!areasExpanded" [col]="languageService.rightToLeft? 2 : 1">
                <label textWrap="false" class="greyText smallFontSize" [text]="getAreasString()" #areasList></label>
            </FlexboxLayout>
            <StackLayout height="0" #aresStack>
                <FlexboxLayout *ngFor="let area of areas; let i = index" [height]="areaLineHeight"
                    style="justify-content: space-between;" [margin]="languageService.rightToLeft? '0,50,0,40' : '0,40,0,50'" (tap)="cbArea.toggle()">
                    <CheckBox:CheckBox (checkedChange)="checkChange(area, cbArea.checked)" [(ngModel)]="areasBoolean[i]"
                        [fillColor]="areasBoolean[i]? mainColor : greyColor" [scaleX]="scale" [scaleY]="scale" #cbArea />
                    <label class="smallFontSize regularBoldFont" [text]="area"></label>
                </FlexboxLayout>
            </StackLayout>
            <FlexboxLayout [ngStyle]="{'flex-direction': languageService.rightToLeft? 'row' : 'row-reverse'}" class="filterLine"
                (tap)="cbPool.toggle()">
                <CheckBox:CheckBox [(ngModel)]="poolCheck" [fillColor]="poolCheck? mainColor : greyColor" [scaleX]="scale" [scaleY]="scale"
                    #cbPool />
                <label class="secondFontSize regularBoldFont" text="{{ 'hotelsFilters.pool' | odedI18N:languageService.dummyUpdate }}"></label>
            </FlexboxLayout>
            <FlexboxLayout [ngStyle]="{'flex-direction': languageService.rightToLeft? 'row' : 'row-reverse'}" class="filterLine"
                (tap)="cbBreakfast.toggle()">
                <CheckBox:CheckBox [(ngModel)]="breakfastCheck" [fillColor]="breakfastCheck? mainColor : greyColor" [scaleX]="scale"
                    [scaleY]="scale" #cbBreakfast />
                <label class="secondFontSize regularBoldFont" text="{{ 'hotelsFilters.breakfast' | odedI18N:languageService.dummyUpdate }}"></label>
            </FlexboxLayout>
        </StackLayout>
    </ScrollView>
    <StackLayout verticalAlignment="center" class="search secondFontSize regularBoldFont" (tap)="search()">
        <label color="white" text="{{ 'springsFilters.search' | odedI18N:languageService.dummyUpdate }}"></label>
    </StackLayout>
</FlexboxLayout>