<StackLayout>
    <GridLayout class="header" columns="*,4*,*">
        <SVGImage class="exit" height="50%" [col]="rightToLeft? 2 : 0" src="~/assets/icons/times-light.svg"
            (tap)="exit()">
        </SVGImage>
    </GridLayout>
    <GridLayout rows="*,3*,3*">
        <SVGImage row="1" src="~/assets/icons/starEmpty.svg">
        </SVGImage>
        <StackLayout margin="10" row="2" style="text-align: center;" horizontalAlignment="center">
            <label class="text" text="{{ 'games.score' | L: gameService.score }}"></label>
        </StackLayout>
    </GridLayout>
</StackLayout>