<BottomNavigation [selectedIndex]="selectedPageIndex" >
    <TabStrip>
        <TabStripItem>
            <Label text="חשבון"></Label>
            <Image src="res://icon" class="fas t-36"></Image>
        </TabStripItem>
        <TabStripItem class="special">
            <Label text="משחקים"></Label>
            <Image src="font://&#xf007;" class="fas"></Image>
        </TabStripItem>
        <TabStripItem class="special">
            <Label text="צימרים"></Label>
            <Image src="font://&#xf00e;" class="fas t-36"></Image>
        </TabStripItem>
        <TabStripItem class="special">
            <Label text="מפה"></Label>
            <Image src="res://icon" class="fas t-36"></Image>
        </TabStripItem>
    </TabStrip>

    <TabContentItem>
        <GridLayout>
            <ns-signUp></ns-signUp>
        </GridLayout>
    </TabContentItem>
    <TabContentItem>
        <GridLayout>
            <ns-profile></ns-profile>
        </GridLayout>
    </TabContentItem>
    <TabContentItem>
        <GridLayout>
            <ns-hotels-list></ns-hotels-list>
        </GridLayout>
    </TabContentItem>
    <TabContentItem>
        <GridLayout>
            <!-- <ns-map></ns-map> -->
        </GridLayout>
    </TabContentItem>
</BottomNavigation>