@import '../../app';

.tabBar {
    border-top-width: 1;
    border-top-color: $thinLineColor;
}

.tabItem {
    horizontal-alignment: center;
    vertical-alignment: center;
    padding: 6 0;
}

.tabLabel {
    font-size: 11;
    margin-top: 3;
    font-family: $regularBoldFont;
}
