<BottomNavigation [selectedIndex]="selectedPageIndex" (selectedIndexChanged)="pageChange(tabs.selectedIndex)" #tabs>
    <TabStrip [visibility]="tabsVisibility ? 'visible' : 'collapsed'">
        <TabStripItem>
            <Label text="{{ 'labels.account' | L }}"></Label>
            <Image [src]="currentIndex == 0? '~/assets/images/user-bold.png' : '~/assets/images/user-light.png'">
            </Image>
        </TabStripItem>
        <TabStripItem class="special">
            <Label text="{{ 'labels.games' }}"></Label>
            <Image src="font://&#xf007;" class="fas"></Image>
        </TabStripItem>
        <TabStripItem class="special" >
            <Label text="{{ 'labels.bnb' }}"></Label>
            <Image src="font://&#xf00e;" class="fas t-36"></Image>
        </TabStripItem>
        <TabStripItem class="special">
            <Label text="{{ 'labels.map' }}"></Label>
            <Image src="res://icon" class="fas t-36"></Image>
        </TabStripItem>
    </TabStrip>
    <TabContentItem>
        <GridLayout>
            <ns-login (goToMap)="navigateToMap()" (goToAbout)="navigateToAbout()"></ns-login>
        </GridLayout>
    </TabContentItem>
    <TabContentItem>
        <GridLayout>
            <ns-games></ns-games>
        </GridLayout>
    </TabContentItem>
    <TabContentItem>
        <GridLayout>
            <ns-hotels-list (hideTabs)="tabsVisibility = false" (showTabs)="tabsVisibility = true"></ns-hotels-list>
        </GridLayout>
    </TabContentItem>
    <TabContentItem>
        <GridLayout>
            <ns-map></ns-map>
        </GridLayout>
    </TabContentItem>
    <TabContentItem>
        <GridLayout>
            <ns-about></ns-about>
        </GridLayout>
    </TabContentItem>
</BottomNavigation>
