<BottomNavigation [selectedIndex]="selectedPageIndex" (selectedIndexChanged)="pageChange(tabs.selectedIndex)" #tabs>
    <TabStrip  [visibility]="tabsVisibility ? 'visible' : 'collapsed'">
        <TabStripItem>
            <Label text="חשבון"></Label>
            <Image src="res://icon" class="fas t-36"></Image>
        </TabStripItem>
        <TabStripItem class="special">
            <Label text="משחקים"></Label>
            <Image src="font://&#xf007;" class="fas"></Image>
        </TabStripItem>
        <TabStripItem class="special" >
            <Label text="צימרים"></Label>
            <Image src="font://&#xf00e;" class="fas t-36"></Image>
        </TabStripItem>
        <TabStripItem class="special">
            <Label text="מפה"></Label>
            <Image src="res://icon" class="fas t-36"></Image>
        </TabStripItem>
    </TabStrip>
    <TabContentItem>
        <GridLayout>
            <ns-login (goToMap)="navigateToMap()"></ns-login>
        </GridLayout>
    </TabContentItem>
    <TabContentItem>
        <GridLayout>
            <!-- <ns-profile></ns-profile> -->
        </GridLayout>
    </TabContentItem>
    <TabContentItem>
        <GridLayout>
            <ns-hotels-list (hideTabs)="tabsVisibility = false" (showTabs)="tabsVisibility = true"></ns-hotels-list>
        </GridLayout>
    </TabContentItem>
    <TabContentItem>
        <GridLayout>
            <ns-map></ns-map>
        </GridLayout>
    </TabContentItem>
</BottomNavigation>