@import '../../../app-common';

.header{
    justify-content: space-between;
    font-size: 25;
    margin: 20;

}

.descriptionLabel{
    font-size: 15;
    text-wrap: true;
    margin-bottom: 10;
}

.navigation{
    background-color: $themeColor;
    justify-content: space-around;
    height: 13%;
    font-size: 15;
    color: white;
}