@import '../../../app-common';

.header{
    justify-content: space-between;
    font-size: 25;
    margin: 20;

}

.descriptionLabel{
    font-size: 15;
    margin-bottom: 10;
}

.filterLine{
    align-items: center;
    font-size: 15;
}

.filterIcon{
    margin: 5;
    width: 30%;
    // align-self: flex-start;
}

.filterLabel{
    width: 70%;
}

.navigation{
    background-color: $themeColor;
    justify-content: space-around;
    align-items: center;
    height: 13%;
    font-size: 15;
    color: white;
}