@import '../../../app';

.descriptionLabel{
    margin-bottom: 10;
}

.filterIcon{
    margin: 5;
    width: 30%;
    height: 30;
    align-self: flex-start;
}

.filterLabel{
    width: 70%;
    font-size: $regularFontSize;
    font-family: $regularBoldFont;
    align-self: center;
}

.attractionsTitle{
    margin: 10 15 0;
    font-family: $semiBoldFont;
    font-size: $regularFontSize;
}

.navigation{
    background-color: $themeColor;
    justify-content: space-around;
    align-items: center;
    height: 13%;
    font-size: $subtitleFontSize;
    font-family: $semiBoldFont;
    color: white;
}