<StackLayout>
	<GridLayout *ngIf="!userService.userLoggedIn" rows="7*,*">
		<ns-waiting-gif *ngIf="waitingForResponse" rowSpan="2"></ns-waiting-gif>
		
		<FlexboxLayout row="1" height="100%" flexDirection="column" style="justify-content: flex-end;">
			<FlexboxLayout (tap)="loginWithFacebook()" class="facebook"
				[isUserInteractionEnabled]="!waitingForResponse">
				<label text="{{ 'login.loginFacebook' | odedI18N:languageService.dummyUpdate }}"></label>
				<SVGImage width="15%" height="50%" src="~/assets/icons/facebook-white.svg"></SVGImage>
			</FlexboxLayout>
		</FlexboxLayout>
	</GridLayout>
</StackLayout>