@import '../../../app-common';

.main{
    flex-direction: column;
    justify-content: space-between;
}

.header{
    height: $headerHeight;
    justify-content: space-between;
    align-items: center;
    padding: 0 20;
    font-size: 20;
}

.filterLine{
    justify-content: space-between;
    align-items: center;
    padding: 0 20;
    font-size: 18;
}

.mainActivityIndicator{
    width: 100;
    height: 100;
    margin: 20;
    color: rgb(195, 216, 99);
}

.search{
    text-align: center;
    height: $bottomHeight;
    margin-top: 30;
    background-color: $themeColor;
    font-size: 25;
    color: white;
}

.slider{
    background-color: $greyText;
    color: $themeColor;
    margin-left: -20;
    width: 150;
}