<FlexboxLayout flexDirection="column" height="300" style="justify-content: space-between;">
    <StackLayout margin="5 30 30" height="60%">
        <GridLayout [columns]="languageService.rightToLeft? '*, 3*' : '3*, *'" class="upper">
            <SVGImage [col]="languageService.rightToLeft? 0 : 1" class="exit titleIcon" src="~/assets/icons/times-light.svg" (tap)="exit()">
            </SVGImage>
            <FlexboxLayout style="justify-content: center;" [col]="languageService.rightToLeft? 1 : 0" flexDirection="column">
                <label text="{{ 'login.resetPassword' | odedI18N:languageService.dummyUpdate }}"></label>
            </FlexboxLayout>
        </GridLayout>
        <label class="email" text="{{ 'labels.email' | odedI18N:languageService.dummyUpdate }}"></label>
        <TextField [(ngModel)]="email" keyboardType="email" autocapitalizationType="none" class="input"
            autocorrect="false" returnKeyType="done" (returnPress)="navigateToResetPassword()"></TextField>
        <label class="info" text="{{ 'login.codeSent' | odedI18N:languageService.dummyUpdate }}"></label>
    </StackLayout>
    <FlexboxLayout flexDirection="column" style="justify-content: flex-end;">
        <FlexboxLayout class="confirm" (tap)="navigateToResetPassword()">
            <label color="white" text="{{ 'labels.OK' | odedI18N:languageService.dummyUpdate }}"></label>
        </FlexboxLayout>
    </FlexboxLayout>
</FlexboxLayout>