@import '../../app-common';

.gif{
    height: 100%;
    width: 100%; 
    background-color: white;
    opacity: 0.5;
    z-index: 1;
}

.pic{
    border-radius: 100%;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.greyText{
    color: $greyText;
    font-size: 10;
    margin-top: 20;
}