<GridLayout>
    <ScrollView height="100%">
        <StackLayout (tap)="tappedAnywhere()">
            <GridLayout columns="*,3*,*" class="header">
                <SVGImage class="titleIcon" [col]="languageService.rightToLeft? 2 : 0"
                    src="~/assets/icons/logo line.svg" (tap)="navigatetoAbout()">
                </SVGImage>
                <Label text="{{ 'profile.title' | odedI18N:languageService.dummyUpdate }}" col="1"
                    (onloaded)="alignVertical(title)" #title></Label>
                <label class="smallFontSize" (onloaded)="alignVertical(logOutLabel)" #logOutLabel text="{{ 'profile.logOut' | odedI18N:languageService.dummyUpdate }}" (tap)="logOut()" [col]="languageService.rightToLeft? 0 : 2"></label>
            </GridLayout>
            <StackLayout class="line" marginBottom="20"></StackLayout>
            <StackLayout margin="15">
                <GridLayout [height]="widthHalf-10" columns="*,2*,*">
                    <FlexboxLayout flexDirection="column" [col]="languageService.rightToLeft? 0 : 2"
                        [ngStyle]="{'align-items': languageService.rightToLeft? 'flex-start' : 'flex-end'}"
                        style="justify-content: flex-end;">
                        <SVGImage height="20" width="20" src="~/assets/icons/pen.svg" (tap)="uploadImage()">
                        </SVGImage>
                    </FlexboxLayout>
                    <img col="1" class="pic" stretch="fill" [src]="currentUser.profile" *ngIf="!waitingForUserPic" />
                    <StackLayout col="1" class="gif" borderRadius="100">
                        <Lottie:LottieView src="waitingGif.json" speed="1" loop="true" autoPlay="true" />
                    </StackLayout>
                </GridLayout>
                <GridLayout columns="*,3*,*" row="*" marginTop="20">
                    <label col="1" [text]="currentUser.userName" class="semiBoldFont titleFontSize"
                        (onloaded)="alignVertical(name)"
                        [ngStyle]="{'visibility': editingUsername? 'collapse' : 'visible'}" #name></label>
                    <TextField class="semiBoldFont titleFontSize input" col="1" autocorrect="false"
                        autocapitalizationType="none" returnKeyType="done"
                        [ngStyle]="{'visibility': editingUsername? 'visible' : 'collapse'}"
                        (returnPress)="submitUsername()" (onloaded)="alignVertical(usernameInput)"
                        (loaded)="ontTextFieldLoaded($event)" #usernameInput>
                    </TextField>
                    <FlexboxLayout height="100%" style="align-items: center;" [col]="languageService.rightToLeft? 0 : 2"
                        [ngStyle]="{'justify-content': languageService.rightToLeft? 'flex-start' : 'flex-end'}">
                        <SVGImage height="20" width="20" src="~/assets/icons/pen.svg" (tap)="editUsername()">
                        </SVGImage>
                    </FlexboxLayout>
                </GridLayout>
                <FlexboxLayout width="100%"
                    [ngStyle]="{'justify-content': languageService.rightToLeft? 'flex-end' : 'flex-start'}">
                    <label marginTop="20" class="greyText smallFontSize regularBoldFont"
                        text="{{ 'labels.email' | odedI18N:languageService.dummyUpdate }}"></label>
                </FlexboxLayout>
                <FlexboxLayout width="100%"
                    [ngStyle]="{'justify-content': languageService.rightToLeft? 'flex-end' : 'flex-start'}">
                    <label class="thirdFontSize regularBoldFont" [text]="currentUser.email"></label>
                </FlexboxLayout>
                <FlexboxLayout width="100%"
                    [ngStyle]="{'justify-content': languageService.rightToLeft? 'flex-end' : 'flex-start'}">
                    <label marginTop="20" class="greyText smallFontSize regularBoldFont"
                        text="{{ 'login.password' | odedI18N:languageService.dummyUpdate }}"></label>
                </FlexboxLayout>
                <FlexboxLayout width="100%" style="justify-content: space-between;"
                    [ngStyle]="{'flex-direction': languageService.rightToLeft? 'row' : 'row-reverse'}">
                    <SVGImage height="20" width="20" src="~/assets/icons/pen.svg" (tap)="changePassword()">
                    </SVGImage>
                    <label (onloaded)="alignVertical(password)" class="thirdFontSize regularBoldFont" text="******"
                        #password></label>
                </FlexboxLayout>
                <label width="100%" marginTop="30" class="smallFontSize greyText"
                    text="{{ 'labels.language' | odedI18N:languageService.dummyUpdate }}"></label>
                <FlexboxLayout margin="0 -9 20" justifyContent="space-between">
                    <FlexboxLayout style="align-items: center;">
                        <CheckBox:CheckBox [scaleX]="checkBoxScale" [scaleY]="checkBoxScale" height="40"
                            [isUserInteractionEnabled]="!waitingForResponse"
                            (checkedChange)="$event.value? cbIw.checked = false : changeLanguage('iw')"
                            [checked]="!languageService.rightToLeft" [fillColor]="mainColor" boxType="circle" #cbEn />
                        <label class="thirdFontSize regularBoldFont" [isUserInteractionEnabled]="!waitingForResponse"
                            (tap)="cbEn.checked = true" text="English"></label>
                    </FlexboxLayout>
                    <FlexboxLayout style="align-items: center;">
                        <label class="thirdFontSize regularBoldFont" [isUserInteractionEnabled]="!waitingForResponse"
                            text="עברית" (tap)="cbIw.checked = true"></label>
                        <CheckBox:CheckBox [scaleX]="checkBoxScale" [scaleY]="checkBoxScale"
                            [isUserInteractionEnabled]="!waitingForResponse"
                            (checkedChange)="$event.value? cbEn.checked = false : changeLanguage('en')"
                            [checked]="languageService.rightToLeft" [fillColor]="mainColor" boxType="circle" #cbIw />
                    </FlexboxLayout>
                </FlexboxLayout>
                <StackLayout class="thinLine"></StackLayout>
                <GridLayout columns="*,5*,*" height="40" margin="10,0" (tap)="showFavorites()">
                    <SVGImage height="50%" [col]="languageService.rightToLeft? 0 : 2" #showFavoritesImage
                        src="~/assets/icons/arrowDown.svg">
                    </SVGImage>
                    <FlexboxLayout col="1" style="flex-direction: column; justify-content: center;">
                        <label class="secondFontSize semiBoldFont"
                            text="{{ 'profile.favorites' | odedI18N:languageService.dummyUpdate }}"></label>
                    </FlexboxLayout>
                    <SVGImage height="50%" [col]="languageService.rightToLeft? 2 : 0" src="~/assets/icons/starFull.svg">
                    </SVGImage>
                </GridLayout>
                <StackLayout width="100%" height="0" #favoritesStack>
                    <ns-waiting-gif *ngIf="waitingForFavorites"></ns-waiting-gif>
                    <FlexboxLayout flexWrap="wrap"
                        [ngStyle]="{'flex-direction': languageService.rightToLeft? 'row-reverse' : 'row'}">
                        <StackLayout [height]="springHeight" (tap)="navigateToSpring(spring)" width="50%"
                            [padding]="((i%2==0 || languageService.rightToLeft) && !(i%2==0 && languageService.rightToLeft))? '0, 9, 0, 0' : '0, 0, 0, 9'"
                            *ngFor="let spring of currentUser.favorites; let i = index">
                            <ns-carousel [carouselHeight]="springHeight-40" [Images]="spring.images"></ns-carousel>
                            <label class="semiBoldFont thirdFontSize" text="{{spring.name}}"></label>
                        </StackLayout>
                    </FlexboxLayout>
                </StackLayout>
                <StackLayout class="thinLine"></StackLayout>
                <GridLayout columns="*,5*,*" height="40" margin="10,0" (tap)="showHistory()">
                    <SVGImage height="50%" [col]="languageService.rightToLeft? 0 : 2" #showHistoryImage
                        src="~/assets/icons/arrowDown.svg">
                    </SVGImage>
                    <FlexboxLayout col="1" style="flex-direction: column; justify-content: center;">
                        <label class="secondFontSize semiBoldFont"
                            text="{{ 'profile.history' | odedI18N:languageService.dummyUpdate }}"></label>
                    </FlexboxLayout>
                    <SVGImage height="50%" [col]="languageService.rightToLeft? 2 : 0" src="~/assets/icons/history.svg">
                    </SVGImage>
                </GridLayout>
                <StackLayout class="thinLine"> </StackLayout>
                <StackLayout width="100%" height="0" #historyStack>
                    <ns-waiting-gif *ngIf="waitingForHistory"></ns-waiting-gif>
                    <FlexboxLayout flexWrap="wrap"
                        [ngStyle]="{'flex-direction': languageService.rightToLeft? 'row-reverse' : 'row'}">
                        <StackLayout [height]="springHeight" (tap)="navigateToSpring(spring)" width="50%"
                            [padding]="((i%2==0 || languageService.rightToLeft) && !(i%2==0 && languageService.rightToLeft))? '0, 9, 0, 0' : '0, 0, 0, 9'"
                            *ngFor="let spring of currentUser.history; let i = index">
                            <ns-carousel [carouselHeight]="springHeight-40" [Images]="spring.images"></ns-carousel>
                            <label text="{{spring.name}}"></label>
                        </StackLayout>
                    </FlexboxLayout>
                </StackLayout>
                <StackLayout class="thinLine"></StackLayout>
                <GridLayout columns="*,5*,*" height="40" margin="10,0" (tap)="deleteAccount()">
                    <SVGImage height="50%" [col]="languageService.rightToLeft? 0 : 2"
                        src="~/assets/icons/trash-red.svg">
                    </SVGImage>
                    <FlexboxLayout col="1" style="flex-direction: column; justify-content: center;">
                        <label class="secondFontSize semiBoldFont" style="color: #e03228;"
                            text="{{ 'profile.deleteAccount' | odedI18N:languageService.dummyUpdate }}"></label>
                    </FlexboxLayout>
                </GridLayout>
            </StackLayout>
        </StackLayout>
    </ScrollView>
    <ns-waiting-gif *ngIf="deleting"></ns-waiting-gif>
</GridLayout>