<StackLayout>
    <ScrollView height="100%">
        <StackLayout (tap)="tappedAnywhere()">
            <GridLayout class="header secondFontSize" columns="*,5*,*">
                <label col="1" text="{{ 'profile.title' | L }}" (onloaded)="alignVertical(title)" #title></label>
                <SVGImage height="70%" [col]="rightToLeft? 2 : 0" src="~/assets/icons/logo line.svg"
                    (tap)="navigatetoAbout()">
                </SVGImage>
            </GridLayout>
            <StackLayout class="line" marginBottom="20"></StackLayout>
            <StackLayout margin="10">
                <GridLayout [height]="widthHalf-10" columns="*,2*,*">
                    <FlexboxLayout flexDirection="column" [col]="rightToLeft? 0 : 2"
                        [ngStyle]="{'align-items': rightToLeft? 'flex-start' : 'flex-end'}"
                        style="justify-content: flex-end;">
                        <SVGImage height="20" width="20" src="~/assets/icons/pen.svg" (tap)="uploadImage()">
                        </SVGImage>
                    </FlexboxLayout>
                    <img col="1" class="pic" stretch="fill" [src]="currentUser.profile" *ngIf="!waitingForUserPic" />
                    <StackLayout col="1" class="gif" borderRadius="100">
                        <Lottie:LottieView src="waitingGif.json" speed="1" loop="true" autoPlay="true" />
                    </StackLayout>
                </GridLayout>
                <GridLayout columns="*,3*,*" row="*" marginTop="20">
                    <label col="1" [text]="currentUser.userName" class="semiBoldFont titleFontSize"
                        (onloaded)="alignVertical(name)"
                        [ngStyle]="{'visibility': editingUsername? 'collapse' : 'visible'}" #name></label>
                    <TextField class="semiBoldFont titleFontSize input" col="1" autocorrect="false"
                        autocapitalizationType="none" returnKeyType="done"
                        [ngStyle]="{'visibility': editingUsername? 'visible' : 'collapse'}"
                        (returnPress)="submitUsername()" (onloaded)="alignVertical(usernameInput)"
                        (loaded)="ontTextFieldLoaded($event)" #usernameInput>
                    </TextField>
                    <FlexboxLayout height="100%" style="align-items: center;" [col]="rightToLeft? 0 : 2"
                        [ngStyle]="{'justify-content': rightToLeft? 'flex-start' : 'flex-end'}">
                        <SVGImage height="20" width="20" src="~/assets/icons/pen.svg" (tap)="editUsername()">
                        </SVGImage>
                    </FlexboxLayout>
                </GridLayout>
                <FlexboxLayout width="100%" [ngStyle]="{'justify-content': rightToLeft? 'flex-end' : 'flex-start'}">
                    <label marginTop="20" class="greyText smallFontSize regularBoldFont"
                        text="{{ 'labels.email' | L }}"></label>
                </FlexboxLayout>
                <FlexboxLayout width="100%" [ngStyle]="{'justify-content': rightToLeft? 'flex-end' : 'flex-start'}">
                    <label class="thirdFontSize regularBoldFont" [text]="currentUser.email"></label>
                </FlexboxLayout>
                <FlexboxLayout width="100%" [ngStyle]="{'justify-content': rightToLeft? 'flex-end' : 'flex-start'}">
                    <label marginTop="20" class="greyText smallFontSize regularBoldFont"
                        text="{{ 'login.password' | L }}"></label>
                </FlexboxLayout>
                <FlexboxLayout width="100%" style="justify-content: space-between;"
                    [ngStyle]="{'flex-direction': rightToLeft? 'row' : 'row-reverse'}">
                    <SVGImage height="20" width="20" src="~/assets/icons/pen.svg" (tap)="changePassword()">
                    </SVGImage>
                    <label (onloaded)="alignVertical(password)" class="thirdFontSize regularBoldFont" text="******"
                        #password></label>
                </FlexboxLayout>

                <label width="100%" marginTop="30" class="smallFontSize greyText"
                    text="{{ 'labels.language' | L }}"></label>
                <FlexboxLayout margin="0 -6 20" justifyContent="space-between">
                    <FlexboxLayout style="align-items: center;">
                        <CheckBox:CheckBox [scaleX]="checkBoxScale" [scaleY]="checkBoxScale" height="40"
                            [isUserInteractionEnabled]="!waitingForResponse"
                            (checkedChange)="$event.value? cbIw.checked = false : changeLanguage('iw')"
                            [checked]="!rightToLeft" [fillColor]="mainColor" boxType="circle" #cbEn />
                        <label class="thirdFontSize" [isUserInteractionEnabled]="!waitingForResponse"
                            (tap)="cbEn.checked = true" text="English"></label>
                    </FlexboxLayout>
                    <FlexboxLayout style="align-items: center;">
                        <label class="thirdFontSize" [isUserInteractionEnabled]="!waitingForResponse" text="עברית"
                            (tap)="cbIw.checked = true"></label>
                        <CheckBox:CheckBox [scaleX]="checkBoxScale" [scaleY]="checkBoxScale"
                            [isUserInteractionEnabled]="!waitingForResponse"
                            (checkedChange)="$event.value? cbEn.checked = false : changeLanguage('en')"
                            [checked]="rightToLeft" [fillColor]="mainColor" boxType="circle" #cbIw />
                    </FlexboxLayout>
                </FlexboxLayout>
                <StackLayout class="line" marginBottom="10"></StackLayout>
                <GridLayout columns="*,5*,*" height="50" (tap)="showFavorites()">
                    <SVGImage height="40%" [col]="rightToLeft? 0 : 2" #showFavoritesImage
                        src="~/assets/icons/arrowDown.svg">
                    </SVGImage>
                    <FlexboxLayout col="1" style="flex-direction: column; justify-content: center;">
                        <label class="secondFontSize semiBoldFont" text="{{ 'profile.favorites' | L }}"></label>
                    </FlexboxLayout>
                    <SVGImage height="40%" [col]="rightToLeft? 2 : 0" src="~/assets/icons/starFull.svg"></SVGImage>
                </GridLayout>
                <StackLayout width="100%" height="0" #favoritesStack>
                    <ns-waiting-gif *ngIf="waitingForFavorites"></ns-waiting-gif>
                    <FlexboxLayout flexWrap="wrap" [ngStyle]="{'flex-direction': rightToLeft? 'row-reverse' : 'row'}">
                        <StackLayout [height]="springHeight" (tap)="navigateToSpring(spring)" width="50%"
                            [padding]="((i%2==0 || rightToLeft) && !(i%2==0 && rightToLeft))? '0, 9, 0, 0' : '0, 0, 0, 9'"
                            *ngFor="let spring of currentUser.favorites; let i = index">
                            <GridLayout [height]="springHeight-40">
                                <Carousel [items]="spring.images" android:indicatorAnimation="scale"
                                    indicatorColor="#fff" indicatorColorUnselected="rgba(206, 193, 193, 0.61)"
                                    indicatorOffset="0, 20" showIndicator="true">
                                    <CarouselItem *ngFor="let item of spring.images">
                                        <GridLayout>
                                            <ns-waiting-gif></ns-waiting-gif>
                                            <Image (tap)="navigateToSpring(spring)" style="z-index: 3;" [src]="item"
                                                width="100%" height="100%" stretch="fill"></Image>
                                        </GridLayout>
                                    </CarouselItem>
                                </Carousel>
                            </GridLayout>
                            <label class="semiBoldFont thirdFontSize" text="{{spring.name}}"></label>
                        </StackLayout>
                    </FlexboxLayout>
                </StackLayout>
                <StackLayout class="line"></StackLayout>
                <GridLayout columns="*,5*,*" height="50" (tap)="showHistory()">
                    <SVGImage height="40%" [col]="rightToLeft? 0 : 2" #showHistoryImage
                        src="~/assets/icons/arrowDown.svg">
                    </SVGImage>
                    <FlexboxLayout col="1" style="flex-direction: column; justify-content: center;">
                        <label class="secondFontSize semiBoldFont" text="{{ 'profile.history' | L }}"></label>
                    </FlexboxLayout>
                    <SVGImage height="40%" [col]="rightToLeft? 2 : 0" src="~/assets/icons/history.svg"></SVGImage>
                </GridLayout>
                <StackLayout class="line"> </StackLayout>
                <StackLayout width="100%" height="0" #historyStack>
                    <ns-waiting-gif *ngIf="waitingForHistory"></ns-waiting-gif>
                    <FlexboxLayout flexWrap="wrap" [ngStyle]="{'flex-direction': rightToLeft? 'row-reverse' : 'row'}">
                        <StackLayout [height]="springHeight" (tap)="navigateToSpring(spring.id)" width="50%"
                            [padding]="((i%2==0 || rightToLeft) && !(i%2==0 && rightToLeft))? '0, 9, 0, 0' : '0, 0, 0, 9'"
                            *ngFor="let spring of currentUser.history; let i = index">
                            <GridLayout [height]="springHeight-40">
                                <Carousel [items]="spring.images" android:indicatorAnimation="scale"
                                    indicatorColor="#fff" indicatorColorUnselected="rgba(206, 193, 193, 0.61)"
                                    indicatorOffset="0, 20" showIndicator="true">
                                    <CarouselItem *ngFor="let item of spring.images">
                                        <GridLayout>
                                            <ns-waiting-gif></ns-waiting-gif>
                                            <Image (tap)="navigateToSpring(spring)" style="z-index: 3;" [src]="item"
                                                width="100%" height="100%" stretch="fill"></Image>
                                        </GridLayout>
                                    </CarouselItem>
                                </Carousel>
                            </GridLayout>
                            <label text="{{spring.name}}"></label>
                        </StackLayout>
                    </FlexboxLayout>
                </StackLayout>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</StackLayout>