@import '../../../../_app-common.scss';

Label{
    text-wrap: true;
}

.upper{
    margin-bottom: 40;
    font-size: 20;
    justify-content: space-between;
}

.confirm{
    background-color: $themeColor;
    color: whitesmoke;
    width: 100%;
    height: $bottomHeight;
    justify-content: center;
    align-items: center;
    font-size: 20;
}

.input{
    width: 100%;
    font-size: 15;
    border-bottom-color: $themeColor; 
    // border-bottom-width: 5;
    margin: 0 0;
  }