@import '../../../../_app-common.scss';

.confirm{
    background-color: $themeColor;
    color: whitesmoke;
    width: 100%;
    height: $bottomHeight;
    justify-content: center;
    align-items: center;
    font-size: $subtitleFontSize;
    font-family: $semiBoldFont;
}

.input{
    width: 100%;
    border-bottom-color: $themeColor; 
    margin: 0 0;
  }