<FlexboxLayout flexDirection="column" height="400">
    <StackLayout margin="30" height="70%">
        <FlexboxLayout class="upper">
            <label text="X" (tap)="exit()"></label>
            <label text="{{ 'profile.changePassword' | L }}"></label>
        </FlexboxLayout>
        <label text="{{ 'profile.currentPassword' | L }}"></label>
        <TextField [(ngModel)]="oldPassword" autocapitalizationType="none" class="input"
            autocorrect="false" secure="true" returnKeyType="next">
        </TextField>
        <label text="{{ 'profile.newPassword' | L }}"></label>
        <TextField [(ngModel)]="newPassword" autocapitalizationType="none" class="input"
            autocorrect="false" secure="true" returnKeyType="next">
        </TextField>
        <label text="{{ 'profile.confirmNewPassword' | L }}"></label>
        <TextField [(ngModel)]="confirmPassword" autocapitalizationType="none" class="input"
            autocorrect="false" secure="true" returnKeyType="done" (returnPress)="ok()">
        </TextField>
    </StackLayout>
    <FlexboxLayout class="confirm" (tap)="ok()">
        <label text="{{ 'labels.OK' | L }}"></label>
    </FlexboxLayout>
</FlexboxLayout>