<StackLayout class="main">
    <FlexboxLayout style="justify-content: space-between;">
        <label text="language: "></label>
        <ListPicker [items]="languagesNames" [selectedIndex]="firstIndex" (selectedIndexChange)="onSelectedIndexChanged($event.object)"></ListPicker>
        <label text="שפה: "></label>
    </FlexboxLayout>
    <FlexboxLayout>  
        <label text="permissions"></label>
    </FlexboxLayout>
    <FlexboxLayout>
        <button text="{{'labels.cancel' | L}}" (tap)="exit()"></button>
        <button text="{{'labels.OK' | L}}" (tap)="OK()"></button>
    </FlexboxLayout>
</StackLayout>