<GridLayout androidElevation="5" style="height: 200; width: 200; background-color: whitesmoke; border-radius: 100%;"
    columns="*,2*,*" #dragGrid>
    <label [text]="location.name" style="font-size: 15; text-align: center;" *ngIf="!first && !placed" (onloaded)="alignVertical(name)"
        #name></label>
    <img (pan)="onPan($event)"  src="res://icon" height="80" width="80" col="1" #dragImage />
    <FlexboxLayout col="1" style="justify-content: center; align-items: flex-end;margin-bottom: 20;" *ngIf="first">
        <label [text]="location.name"></label>
    </FlexboxLayout>
</GridLayout>