@import '../../../../_app-common';

.title{
    text-align: center;
    font-size: $titleFontSize;
}

image{
    height: 120;
}

.score{
    color: $themeColor;
}

.feedback{
    font-size: $titleFontSize;
    justify-content: center;
    align-items: center;
}