@import '../../../app-common';

.title{
    height: 50%;
    width: 30%;
    text-align: center;
}

.mainActivityIndicator{
    height: 80%;
    width: 80%;
}

.imageActivityIndicator{
    height: 30%;
    width: 30%;
}

.descriptionLabel{
    font-size: $regularFontSize;
    margin-bottom: 10;
}

.filterLine{
    align-items: center;
    font-size: 15;
}

.filterIcon{
    margin: 5;
    height: 30;
    width: 30;
    // align-self: flex-start;
}

.filterLabel{
    width: 70%;
}

.userPic{
    border-radius: 100%;
    height: 37;
    width: 37;
    stretch: fill;
}

.comment{
    justify-content: space-between;
    align-items: flex-end;
}

.navigation{
    background-color: $themeColor;
    justify-content: space-around;
    height: 13%;
    font-size: 15;
    color: white;
}

.commentLine{
    background-color: $themeColor;
    height: 2;
}

.input{
    border-bottom-width: 0;
    margin: 0;
    border-color: $themeColor;
}

.inputLine{
    background-color: $themeColor;
    height: 2;
}

.info{
    font-size: $subtitleFontSize;
    margin: 10;
}

.navigationIcon{
    height: 40%;
    margin: 8;
}

