<StackLayout>
    <ScrollView [height]="!isKeyboardOpen? '91%' : '100%'" *ngIf="!waitingForResponse">
        <StackLayout>
            <GridLayout columns="*,5*,*" class="header">
                <label #exit (onloaded)="alignVertical(exit)" [col]="rightToLeft? 0 : 2" text="X"
                    [ngStyle]="{'text-align': rightToLeft? 'left' : 'right'}" (tap)="navigateToMap()"></label>
                <label textWrap="true" #title (onloaded)="alignVertical(title)" col="1"
                    [text]="currentSpring.name"></label>
                <img [col]="rightToLeft? 2 : 0" (tap)="clickOnFavorites()" class="headerIcon"
                    [src]="currentSpring.isFavorite? 'res://icon' : 'res://waze_logo'" />
            </GridLayout>
            <GridLayout height="250">
                <Carousel [items]="currentSpring.images" android:indicatorAnimation="scale" indicatorColor="#fff"
                    indicatorColorUnselected="rgba(206, 193, 193, 0.61)" indicatorOffset="0, 10" showIndicator="true">
                    <CarouselItem *ngFor="let item of currentSpring.images">
                        <GridLayout>
                            <ns-waiting-gif></ns-waiting-gif>
                            <Image style="z-index: 3;" [src]="item" width="100%" height="100%" stretch="fill"></Image>
                        </GridLayout>
                    </CarouselItem>
                </Carousel>
            </GridLayout>
            <StackLayout style="width: 100%; padding: 10;">
                <label [text]="currentSpring.description" class="descriptionLabel"></label>
                <GridLayout rows="*,*,*" columns="*,*">
                    <FlexboxLayout [ngStyle]="{'flex-direction': rightToLeft? 'row-reverse' : 'row'}"
                        class="filterLine">
                        <img class="filterIcon" src="res://icon" />
                        <label class="filterLabel" [text]="currentSpring.distanceFromCar"></label>
                    </FlexboxLayout>
                    <FlexboxLayout [ngStyle]="{'flex-direction': rightToLeft? 'row-reverse' : 'row'}" class="filterLine"
                        col="1">
                        <img class="filterIcon" src="res://icon" />
                        <label class="filterLabel"
                            text="{{currentSpring.filterCamping? ('springView.suitableForCamping' | L) : ('springView.notSuitableForCamping' | L)}}"></label>
                    </FlexboxLayout>
                    <FlexboxLayout row="1" class="filterLine"
                        [ngStyle]="{'flex-direction': rightToLeft? 'row-reverse' : 'row'}">
                        <img class="filterIcon" src="res://icon" />
                        <label class="filterLabel" text="{{ 'springView.depth' | L }}: {{currentSpring.depth}}"></label>
                    </FlexboxLayout>
                    <FlexboxLayout row="1" col="1" class="filterLine"
                        [ngStyle]="{'flex-direction': rightToLeft? 'row-reverse' : 'row'}">
                        <img class="filterIcon" src="res://icon" />
                        <label class="filterLabel"
                            text="{{currentSpring.filterChildren? ('springView.suitableableForChildren' | L) : ('springView.notSuitableForChildren' | L)}}"></label>
                    </FlexboxLayout>
                    <FlexboxLayout row="2" class="filterLine"
                        [ngStyle]="{'flex-direction': rightToLeft? 'row-reverse' : 'row'}">
                        <img class="filterIcon" src="res://icon" />
                        <label class="filterLabel" textWrap="true" [text]="currentSpring.preferredSeason"></label>
                    </FlexboxLayout>
                    <FlexboxLayout row="2" col="1" class="filterLine"
                        [ngStyle]="{'flex-direction': rightToLeft? 'row-reverse' : 'row'}">
                        <img class="filterIcon" src="res://icon" />
                        <label class="filterLabel"
                            text="{{currentSpring.filterWater? ('springView.thereIsDrinkingWater' | L) : ('springView.noDrinkingWater' | L)}}"></label>
                    </FlexboxLayout>
                </GridLayout>
            </StackLayout>
            <StackLayout class="line" margin="10"></StackLayout>
            <StackLayout *ngFor="let comment of currentSpring.comments; let i = index" style="margin: 10;"
                [ngStyle]="{visibility: (expandComments || i<3)? 'visible' : 'collapse'}">
                <GridLayout rows="5*,*" [columns]="rightToLeft? '5*,*' : '*,5*'">
                    <FlexboxLayout [col]="rightToLeft? 0 : 1" class="comment"
                        [ngStyle]="{'flex-direction': rightToLeft? 'row' : 'row-reverse'}">
                        <label text="{{ comment.date._seconds * 1000 | date: 'dd/MM/yyyy' }}"></label>
                        <label text="{{comment.user_name}}"></label>
                    </FlexboxLayout>
                    <FlexboxLayout flexDirection="column" rowSpan="2" width="37"
                        [margin]="rightToLeft? '0 0 0 10' : '0 10 0 0'" [col]="rightToLeft? 1 : 0"
                        style="justify-content: flex-end;">
                        <img src="{{comment.user_pic}}" class="userPic" />
                    </FlexboxLayout>
                    <StackLayout [col]="rightToLeft? 0 : 1" row="1" class="commentLine"></StackLayout>
                </GridLayout>
                <label textWrap="true" text="{{ comment.text }}"></label>
            </StackLayout>
            <label style="text-align: center;"
                text="{{ expandComments? ('springView.showLessComments' | L) : ('springView.showMoreComments' | L) }}"
                (tap)="expandComments = !expandComments"
                *ngIf="(currentSpring.comments && currentSpring.comments.length>3)"></label>
            <GridLayout *ngIf="userService.userLoggedIn" rows="*,*" columns="*,5*,*" margin="10">
                <img class="userPic" (tap)="addComment(commentInput)" [col]="rightToLeft? 0 : 2"
                    [src]="thereIsComment? 'res://icon' : 'res://waze_logo'"
                    [margin]="rightToLeft? '0 10 0 0' : '0 0 0 10'" />
                <textField class="input" hint="{{ 'springView.newComment' | L }}" col="1" returnKeyType="go"
                    (textChange)="commentTextChanged(commentInput.text)" (tap)="tapComment()" #commentInput></textField>
                <StackLayout row="1" class="inputLine" [colSpan]="rightToLeft? 2 : 0" [col]="rightToLeft? 0 : 1">
                </StackLayout>
                <img rowSpan="2" [col]="rightToLeft? 2 : 0" class="userPic"
                    [margin]="rightToLeft? '0 0 0 10' : '0 10 0 0'" [src]="userService.getUserPicture()" />
            </GridLayout>
            <StackLayout class="line" margin="10"></StackLayout>
            <label textWrap="true" [text]="currentSpring.info" class="info"></label>
            <GridLayout columns="*,*" style="background-color: rgb(168, 209, 211); height: 50;">
                <FlexboxLayout (tap)="updateSpring()" [ngStyle]="{'flex-direction': rightToLeft? 'row' : 'row-reverse'}"
                    [col]="rightToLeft? 0 : 1" style="justify-content: center;">
                    <img src="res://icon" />
                    <label (onloaded)="alignVertical(support)" #support
                        text="{{ 'springView.foundError' | L }}"></label>
                </FlexboxLayout>
                <FlexboxLayout [col]="rightToLeft? 1 : 0" style="justify-content: center;" (tap)="shareSpring()">
                    <img src="res://icon" />
                    <label (onloaded)="alignVertical(share)" #share text="{{ 'springView.share' | L }}"></label>
                </FlexboxLayout>
            </GridLayout>
            <FlexboxLayout class="navigation" height="50" *ngIf="isKeyboardOpen">
                <FlexboxLayout style="align-items: center;" (tap)="navigateWithMaps()">
                    <img src="res://google_maps_logo" class="navigationIcon" />
                    <label text="{{'springView.navigateWithMaps' | L }}"></label>
                </FlexboxLayout>
                <FlexboxLayout style="align-items: center;" (tap)="navigateWithWaze()">
                    <img src="res://waze_logo" class="navigationIcon" />
                    <label text="{{'springView.navigateWithWaze' | L }}"></label>
                </FlexboxLayout>
            </FlexboxLayout>
        </StackLayout>
    </ScrollView>
    <ns-waiting-gif *ngIf="waitingForResponse"></ns-waiting-gif>
    <FlexboxLayout class="navigation" *ngIf="!isKeyboardOpen">
        <FlexboxLayout style="align-items: center;" col="1" (tap)="navigateWithMaps()">
            <img src="res://google_maps_logo" class="navigationIcon" />
            <label text="{{'springView.navigateWithMaps' | L }}"></label>
        </FlexboxLayout>
        <FlexboxLayout style="align-items: center;" (tap)="navigateWithWaze()">
            <img src="res://waze_logo" class="navigationIcon" />
            <label text="{{'springView.navigateWithWaze' | L }}"></label>
        </FlexboxLayout>
    </FlexboxLayout>
</StackLayout>