<StackLayout>
    <ActivityIndicator class="mainActivityIndicator" [busy]="!loadded" *ngIf="!loadded"></ActivityIndicator>
    <ScrollView style="height: 100%;" *ngIf="loadded">
        <StackLayout class="main">
            <label (tap)="exit()" class="fas exit" text="&#xf057;"></label>
            <ScrollView orientation="horizontal">
                <FlexboxLayout>
                    <AbsoluteLayout *ngFor="let image of currentSpring.images">
                        <ActivityIndicator top="50%" left="50%" busy="true"></ActivityIndicator>
                        <img [src]="image" class="photo" #currentImage />
                    </AbsoluteLayout>
                </FlexboxLayout>
            </ScrollView>
            <StackLayout>
                <label textWrap="true" class="title" [text]="currentSpring.name"></label>
                <label textWrap="true" [text]="currentSpring.description"></label>
                <Label textWrap="true" *ngIf="currentSpring.depth">
                    <FormattedString>
                        <Span style="font-weight: bold;" text="{{ 'springModal.depth' | L }}: "></Span>
                        <Span text="{{currentSpring.depth}}"></Span>
                    </FormattedString>
                </Label>
                <Label textWrap="true" *ngIf="currentSpring.distanceFromCar">
                    <FormattedString>
                        <Span style="font-weight: bold;" text="{{ 'springModal.walkingDistanceFromCar' | L }}: "></Span>
                        <Span text="{{currentSpring.distanceFromCar}}"></Span>
                    </FormattedString>
                </Label>
                <Label textWrap="true" *ngIf="currentSpring.preferredSeason">
                    <FormattedString>
                        <Span style="font-weight: bold;" text="{{ 'springModal.preferredSeason' | L }}: "></Span>
                        <Span text="{{currentSpring.preferredSeason}}"></Span>
                    </FormattedString>
                </Label>
                <Label textWrap="true" *ngIf="currentSpring.info">
                    <FormattedString>
                        <Span style="font-weight: bold;" text="{{ 'springModal.moreAboutTheSpring' | L }}: "></Span>
                        <Span text="{{currentSpring.info}}"></Span>
                    </FormattedString>
                </Label>
            </StackLayout>
            <StackLayout>
                <label class="navigate" text="{{'springModal.navigateWith' | L }}:"></label>
                <FlexboxLayout class="logos">
                    <img class="logo" src="res://waze_logo" (tap)="navigateWithWaze()" />
                    <img class="logo" src="res://google_maps_logo" (tap)="navigateWithMaps()" />
                </FlexboxLayout>
            </StackLayout>
            <StackLayout>
                <label class="navigate" text="{{'springModal.shareWith' | L }}:"></label>
                <FlexboxLayout class="logos">
                    <img class="logo" src="res://whatsapp_logo" (tap)="share()"/>
                    <button text="Add comment" (tap)="addComment('some text')"></button>
                </FlexboxLayout>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</StackLayout>