<GridLayout class="main" rows="3*,*" columns="*,5*,*">
    <label (loaded)="onLabelLoaded($event)" class="arrow" text="<" (tap)="moveBackward()"></label>
    <img row="0" col="0" colSpan="3" [src]="images[imageIndex]" style="border-radius: 30%;"/>
    <label (loaded)="onLabelLoaded($event)" row="0" col="2" class="arrow" text=">" (tap)="moveForward()"></label>
    <FlexboxLayout class="circlesFlex" row="1" col="1">
        <label *ngFor="let item of images; index as i" class="circle" (tap)="moveByIndex(i)" [ngStyle]="{'background-color': imageIndex == i? 'black' : 'white'}"></label>
    </FlexboxLayout>
</GridLayout>

<!-- <StackLayout> -->
<!-- <AbsoluteLayout style="height: 100; width: 100;">        
        <ActivityIndicator [busy]="true"></ActivityIndicator>
        <img style="width: 100%; height: 100%;" stretch="aspectFit" [src]="images[imageIndex]"/> -->
<!-- <FlexboxLayout class="gallery" [ngStyle]="{'background-image': images[imageIndex]}">
            <StackLayout verticalAlignment="center" horizontalAlignment="center">
                <label class="arrow" text="<" (tap)="moveBackward()"></label>
            </StackLayout>
            <StackLayout verticalAlignment="center" horizontalAlignment="center">
                <label class="arrow" text=">" (tap)="moveForward()"></label>
            </StackLayout>
        </FlexboxLayout> -->
<!-- </AbsoluteLayout> -->
<!-- <label text="123"></label>
</StackLayout> -->




<!-- <Carousel height="100%" width="100%" indicatorColor="#fff000" finite="true" bounce="false" showIndicator="true" verticalAlignment="top" android:indicatorAnimation="swap" color="white">
    <CarouselItem id="slide1" backgroundColor="#b3cde0" verticalAlignment="middle">
        <Label text="Slide 1" backgroundColor="#50000000" horizontalAlignment="center"></Label>
    </CarouselItem>
    <CarouselItem id="slide2" backgroundColor="#6497b1" verticalAlignment="middle">
        <Label text="Slide 2" backgroundColor="#50000000" horizontalAlignment="center"></Label>
    </CarouselItem>
    <CarouselItem id="slide3" backgroundColor="#005b96" verticalAlignment="middle">
        <Label text="Slide 3" backgroundColor="#50000000" horizontalAlignment="center"></Label>
    </CarouselItem>
    <CarouselItem id="slide4" backgroundColor="#03396c" verticalAlignment="middle">
        <Label text="Slide 4" backgroundColor="#50000000" horizontalAlignment="center"></Label>
    </CarouselItem>
</Carousel> -->